@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

*{
    font-family: Poppins;
}

.upper-change{
    transition: 0.7s;
}

.upper-change:hover{
    transform: translateY(-10px);
    transition: 0.7s ease-in-out;
}

.img-profile {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 0;
    padding: 2px;
}

.img-certificate {
    width: 70px;
    height: 70px;
    border: 0;    
}
