@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

*{
    font-family: Poppins;
}

.normal-change {
    transition: 0.5s;
}
.upper-change:hover {
    transform: translateY(-7px);
    transition: 0.5s ease-in-out;
}