@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

*{
    font-family: Poppins;
}

.upper-change{
    transition: 0.7s;
}

.upper-change:hover{
    transform: translateY(-10px);
    transition: 0.7s ease-in-out;
}

.img-profile {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 0;
    padding: 2px;
}

.img-profile-small {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    padding: 2px;
}

.img-certificate {
    width: 70px;
    height: 70px;
    border: 0;    
}

.link-expand {
    transition: 0.7s;
}

.link-expand:hover{
    transform: translateX(3px);
    transition: 0.7s ease-in-out;
}

/* User Account Detail */
.user-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    padding: 2px;
    cursor: pointer;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 300px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
    padding-top: 15px;
}

.sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 10px;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0,5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}

/* Text Effect */
.text-hover:hover {
    color: blue;
}