* {
    margin: 0;
    padding: 0;
    
    /* background-color: white; */
}

@font-face {
    font-family: "pyidaungsu";
    src: url(../font/Pyidaungsu-2.5_Regular.ttf);
}


body {
    color: white;
    background-color:  rgba(22, 22, 22, .7);
    /* font-family: "mm-font"; */
    padding: 0;
    margin: 0;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: #ff4800;
    border-radius: 7px;        
}

.btn:hover {    
    color: rgb(153, 153, 153);
    background-color: #ac3202;
    
}

/* This is User Select item */
.user-select-container {
   /* background-color: #ff4800; */
   /* margin: 50px; */
   padding: 10px 20px;
}

.item-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(39, 39, 39, 0.1);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0 30px;
    /* height: auto; */
}

.item-img {
    margin: 50px 20px;
    padding: 20px 20px;
    background-color: rgba(231, 231, 231,0.1);
    border-radius: 30px;
}

.item-img img{
    width: 100%;
    height: auto;
    border-radius: 50px;
    opacity: 90%;
    transition: transform 1s;
}

.item-img img:hover {
    width: 100%;
    height: auto;    
    transform: scale(1.2);
    transition: transform 1s;
}

.select-info {
    /* display: flex;
    flex-direction: column; */
    margin: 20px 20px;
    padding: 20px 20px;
    background-color: rgba(231, 231, 231,0.1);
    border-radius: 30px;
}

.select-info h2{
    color: white;
    font-size: 2.8em;
    padding: 0 0 20px 0;
    font-weight: bold;
    text-align:justify;
}


.select-info .detail {
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    text-align: justify;
    line-height: 30px;
    text-indent: 30px;
    padding:0 0 20px 0;
    font-family: 'pyidaungsu';
}

.select-info .cost{
    color: #e5ff00;
    font-size: 1.9em;
    line-height: 30px;
    /* text-indent: 30px; */
    padding:0 0 20px 0;
    font-weight: 300;
    /* text-indent: 20px; */
}

.storage {
    display: flex;
    justify-content: start;
    align-items: center;
}

.storage span {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding-right: 30px;
}

.storage-container {
    margin-right: 10px;
    padding: 7px 13px;
    border: white solid 1px;
    border-radius: 15px;
    cursor: pointer;
}

input[type="radio"] {
    transform: scale(1.5);
    margin-right: 10px;
    cursor: pointer;
}

.storage-container label {
    font-size: 20px;
    cursor: pointer; 
}

.color {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px 0;
}

.color-title {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding-right: 50px;
}

.color label {
    font-size: 20px;
    cursor: pointer; 
    margin-right: 20px;
}


.choose {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    padding-right: 20px;
    justify-content: center;
    text-align: center;
}

.choose input {
    width: 80%;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.3em;
    border: 0;
}

.choose a {
    display: inline-block;
    padding: 8px 0 8px 0;
    text-decoration: none;
    color: white;
    text-align: center;    
    border-radius: 10px;
    font-size: 1.3em;
    margin-left:  30px;
    background-color: #ff4800;
    border: 0;
}

.choose a:hover {
    background-color: #a72f00;
}


.relative-photo {
    /* margin: 0 20px; */
    /* padding-right: 45px; */
    background-color: rgba(39, 39, 39, 0.1);
    padding: 30px;
    margin: 20px 0;
    border-radius: 20px;
}

.relative-photo-container {
    display: grid;
    grid-template-columns: repeat(6,auto);  
}

.img-spacing {
    margin: 0 10px;
}

.relative-photo-container img {
    width: 100%;
    height: auto;  
    align-items: center;  
    text-align: center;
    border-radius: 15px;
    transition: transform .7s;
}

.relative-photo-container img:hover {
    width: 100%;
    height: auto;    
    transform: scale(1.1);
    transition: transform .7s;
}

.item_specification {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    border: 0;
    background-color: rgba(39, 39, 39, 0.1);
    border-radius: 20px;
    padding: 20px;
}

.item_specification h2 {
    color: white;
    font-size: 2.5em;
    padding-bottom: 25px;
}


.specification-info {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 1.2em;
    min-width: 400px;
    border-radius: 20px;
    overflow: hidden;
}

.specification-info td {
    padding: 15px 15px;
}


.specification-info tbody tr:nth-of-type(even) {
    background-color: rgba(0, 102, 255, 0.08);
    border-radius: 20px;
}


.item-name {   
    font-weight: 200; 
    color: white;
    font-size: 1.2em;
    /* margin-right: 30px; */
    /* padding: 0 30px 10px 30px; */
}

.item-data {    
    color: white;
    font-size: 1.2em;
}

.viewmore {
    display: flex;
    justify-content: center;
    align-items: center;
}
