* {
    margin: 0;
    padding: 0;
    
    /* background-color: white; */
}


@font-face {
    font-family: "pyidaungsu";
    src: url(../font/Pyidaungsu-2.5_Regular.ttf);
}


body {
    color: white;
    background-color:  rgba(22, 22, 22, .7);
    /* font-family: "mm-font"; */
    padding: 0;
    margin: 0;
}

header {
    display: grid;    
    grid-template-columns: 1fr 1fr;
    padding: 18px 20px;
    /* justify-content: space-between; */
    align-items: center;
    background-color:  rgba(22, 22, 22, .1);    
}

.brand {
    font-size: 3.5em;
    text-align: center;
    font-weight: bold;
    padding-right: 30px;

}

.nav-menu {
    padding-left: 30px;
    display: flex;    
    justify-content: space-between;
    align-items: center;
}

.nav-menu a {
    font-size: 27px;
    text-decoration: none;
    font-weight: 520;
    color: white;
    padding-left: 30px;
}

.nav-menu a:hover {        
    color: rgba(185, 185, 185, 0.9);
    font-size: 27.1px;
    /* text-decoration: underline; */    
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: #ff4800;
    border-radius: 7px;        
}

.btn:hover {    
    color: rgb(153, 153, 153);
    background-color: #ac3202;
    
}

/* This is User Select item */
.user-select-container {
   /* background-color: #ff4800; */
   /* margin: 50px; */
   padding: 10px 20px;
}

.item-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(39, 39, 39, 0.1);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0 30px;
    /* height: auto; */
}

.item-img {
    margin: 50px 20px;
    padding: 20px 20px;
    background-color: rgba(231, 231, 231,0.1);
    border-radius: 30px;
}

.item-img img{
    width: 100%;
    height: auto;
    border-radius: 50px;
    opacity: 90%;
}

.select-info {
    /* display: flex;
    flex-direction: column; */
    margin: 20px 20px;
    padding: 20px 20px;
    background-color: rgba(231, 231, 231,0.1);
    border-radius: 30px;
}

.select-info h2{
    color: white;
    font-size: 2.8em;
    padding: 0 0 20px 0;
    font-weight: bold;
    text-align:justify;
}


.select-info .detail {
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    text-align: justify;
    line-height: 30px;
    text-indent: 30px;
    padding:0 0 20px 0;
    font-family: 'pyidaungsu';
}

.select-info .cost{
    color: #e5ff00;
    font-size: 1.9em;
    line-height: 30px;
    /* text-indent: 30px; */
    padding:0 0 20px 0;
    font-weight: 300;
    /* text-indent: 20px; */
}

.storage {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}
.storage .storage-title {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding-right: 30px;
}

.checkbox {
    font-size: 5em;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    accent-color: rgb(255, 255, 255);
    border: 0;
}

.storage span {
    padding-right: 20px;
    color: white;
    font-size: 1.3em;
}

.color {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

.color-title {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding-right: 50px;
}


.radio-color-red {
    font-size: 5em;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    accent-color: rgb(255, 0, 0);    
    border: 0;
    margin-right: 20px;
}


.radio-color-green {
    font-size: 5em;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    accent-color: rgb(9, 255, 0);    
    border: 0;
    margin-right: 20px;
}


.radio-color-blue {
    font-size: 5em;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    accent-color: rgb(0, 17, 255);    
    border: 0;
    margin-right: 20px;
}

.choose {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    padding: 0 20px;
    justify-content: center;
    text-align: center;
}

.choose input {
    width: 80%;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.3em;
    border: 0;
}

.choose a {
    display: inline-block;
    padding: 8px 0 8px 0;
    text-decoration: none;
    color: white;
    text-align: center;    
    border-radius: 10px;
    font-size: 1.3em;
    margin-left:  30px;
    background-color: #ff4800;
    border: 0;
}

.choose a:hover {
    background-color: #a72f00;
}


.relative-photo {
    /* margin: 0 20px; */
    /* padding-right: 45px; */
    background-color: rgba(39, 39, 39, 0.1);
    padding: 30px;
    margin: 20px 0;
    border-radius: 20px;
}

.relative-photo-container {
    display: grid;
    grid-template-columns: repeat(6,auto);  

}

.img-spacing {
    margin: 0 10px;
}

.relative-photo-container img {
    width: 100%;
    height: auto;  
    align-items: center;  
    text-align: center;
    border-radius: 15px;
}
/* 
.relative-photo-container img:hover {
    width: 120%;
    height: auto;
} */

.item_specification {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    border: 0;
    background-color: rgba(39, 39, 39, 0.1);
    border-radius: 20px;
    padding: 20px;
}

.item_specification h2 {
    color: white;
    font-size: 2.5em;
    padding-bottom: 25px;
}


.specification-info {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 1.2em;
    min-width: 400px;
    border-radius: 20px;
    overflow: hidden;
}

.specification-info td {
    padding: 15px 15px;
}


.specification-info tbody tr:nth-of-type(even) {
    background-color: rgba(0, 102, 255, 0.08);
    border-radius: 20px;
}


.item-name {   
    font-weight: 200; 
    color: white;
    font-size: 1.2em;
    /* margin-right: 30px; */
    /* padding: 0 30px 10px 30px; */
}

.item-data {    
    color: white;
    font-size: 1.2em;
}


/* This is Related Product */


.product-list {
    margin-bottom: 50px;
}
.items {
    display: grid;
    grid-template-columns: repeat(4,auto);
    margin: 30px;
    column-gap: 25px;   
}

.item-style {
    background-color: #272727;
    width: 100%;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 25px;    
}

.item-img-x {
    width: 100%;
    height: auto;
    transition: background-image 0.8s ease-in-out;
    /* transition: transform 3s; */
}

.item-img-x:hover {
    content: url(../Images/XSeries/X.jpg);
    /* transform: scale(1.2); */
    transition: transform 1s;
}

.item-img-xsmax {
    width: 100%;
    height: auto;
    transition: background-image 0.8s ease-in-out;
}

.item-img-xsmax:hover {
    content: url(../Images/XSeries/XSMax.jpg);
    /* transform: scale(1.2); */
}

.item-img-11 {
    width: 100%;
    height: auto;
    transition: background-image 0.8s ease-in-out;
}

.item-img-11:hover {
    content: url(../Images/11Series/11.jpg);
    /* transform: scale(1.2); */
}

.item-img-11promax {
    width: 100%;
    height: auto;
    transition: background-image 0.8s ease-in-out;
}

.item-img-11promax:hover {
    content: url(../Images/11Series/11ProMax.jpg);
    /* transform: scale(1.2); */
}

.item-img-12 {
    width: 100%;
    height: auto;
    transition: background-image 0.8s ease-in-out;
}

.item-img-12:hover {
    content: url(../Images/12Series/12.jpg);
    /* transform: scale(1.2); */
}

.item-img-15promax {
    width: 100%;
    height: auto;
    transition: background-image 0.8s ease-in-out;
}

.item-img-15promax:hover {
    content: url(../Images/15Series/15ProMax.jpg);
    /* transform: scale(1.2); */
}

.item-img-16 {
    width: 100%;
    height: auto;
    transition: background-image 0.8s ease-in-out;
}

.item-img-16:hover {
    content: url(../Images/16Series/16.jpg);
    /* transform: scale(1.2); */
}

.item-details {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;
}

.item-name_price {    
    color: white;
    font-weight: bold;
}

.item-name {
    font-size: 1.4em;
    padding-bottom: 20px;
    
}

.item-price {
    font-size: 1.3em;
}

.select_buy {
    /* font-weight: bold;
    color: white; */
    display: flex;
    flex-direction: column;
}

.add-to-card {
    font-size: 1.8em;
    padding-bottom: 5px;
    color: white;
    text-align: end;
}

.add-to-card:hover {
    color: #cac9c9;
}
   

.buy-now {
    font-size: 1.3em;
    font-weight: 500;
    text-decoration: none;
    color: white;
    background-color: #ff4800;
    padding: 5px;
    border-radius: 6px;
}


.buy-now:hover {    
    color: rgb(212, 212, 212);
    background-color: #ac3202;
}

.related-products h2 {
    font-size: 3em;
    color: white;
    margin: 100px 30px 30px 30px;
    padding-bottom: 30px;
    text-align: start;
}

.viewmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 70px 0;
}

/* This is Footer */

.footer {    
    margin-top: 40px;
    background-color: rgba(15, 15, 15, 0.3);
    padding: 30px 0;
    text-align: center;
    
}

.footer span {    
    color: white;
    font-size: 1.2em;    
}