* {
    margin: 0;
    padding: 0;
    
    /* background-color: white; */
}

@font-face {
    font-family: "noto-normal";
    src: url(../font/Pyidaungsu-2.5_Regular.ttf);
}
body {
    color: #000000; 
    background-color:  rgba(22, 22, 22, .7);
    /* font-family: "mm-font"; */
    padding: 0;
    margin: 0;
}


header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 20px;
    justify-content: end;
    align-items: center;
    /* background-color: #424242; */
}

.brand {
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}

.nav-menu {
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(6,auto);    
}

.nav-menu a {
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color: #ff4800;
}

.nav-menu a:hover {        
    color: white;
    /* text-decoration: underline; */    
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;   
    margin: 0 30px 0 30px;
    column-gap: 50px;
    /* width: 100%;
    height: 500px;     */
}

.hero-info {     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 0 0 40px ;
    margin: 50px;
}

.hero-info h2 {
    font-size: 4em;  
    color: white;  
    padding-bottom: 20px;   
}

.hero-info p {
    font-size: 32px;
    color: white;
    padding-bottom: 20px;  
    font-family: "mm-font"; 
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: #ff4800;
    border-radius: 7px;        
}

.btn:hover {    
    color: rgb(153, 153, 153);
    background-color: #ac3202;
    
}

.welcome-img {
    width: 100%;
    height: auto;
    padding: 10px;
}

/* <!-- This is Search Bar for Product --> */

.search-box {
    display: flex;   
    justify-content: center;
    align-items: center;
    margin: 50px 0 20px 70px;
    padding: 30px;     
}

.product-search {
    width: 60%;
    height: 30px;
    margin: 0 20ps 20px 20px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 6px;
    color: white;
    background-color: #161616;
}

.search-box a {    
    margin-left: 10px;
    padding: 10px 20px;
}

/* This is Product List*/

.product-list {
    margin-bottom: 50px;
}
.items {
    display: grid;
    grid-template-columns: repeat(4,auto);
    margin: 30px;
    column-gap: 25px;    
}

.item-style {
    background-color: #272727;
    width: 100%;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
    
}
/* This is Item Image  */
.item-img-x {
    width: 100%;
    height: auto;
    transition: background-image 0.8s ease-in-out;
    /* transition: transform 3s; */
}

.item-img-x:hover {
    content: url(../Images/XSeries/X.jpg);
    /* transform: scale(1.2); */
    transition: transform 1s;
}

.item-img-xsmax {
    width: 100%;
    height: auto;
    transition: background-image 0.8s ease-in-out;
}

.item-img-xsmax:hover {
    content: url(../Images/XSeries/XSMax.jpg);
    /* transform: scale(1.2); */
}

.item-img-11 {
    width: 100%;
    height: auto;
    transition: background-image 0.8s ease-in-out;
}

.item-img-11:hover {
    content: url(../Images/11Series/11.jpg);
    /* transform: scale(1.2); */
}

.item-img-11promax {
    width: 100%;
    height: auto;
    transition: background-image 0.8s ease-in-out;
}

.item-img-11promax:hover {
    content: url(../Images/11Series/11ProMax.jpg);
    /* transform: scale(1.2); */
}

.item-img-12 {
    width: 100%;
    height: auto;
    transition: background-image 0.8s ease-in-out;
}

.item-img-12:hover {
    content: url(../Images/12Series/12.jpg);
    /* transform: scale(1.2); */
}

.item-img-15promax {
    width: 100%;
    height: auto;
    transition: background-image 0.8s ease-in-out;
}

.item-img-15promax:hover {
    content: url(../Images/15Series/15ProMax.jpg);
    /* transform: scale(1.2); */
}

.item-img-16 {
    width: 100%;
    height: auto;
    transition: background-image 0.8s ease-in-out;
}

.item-img-16:hover {
    content: url(../Images/16Series/16.jpg);
    /* transform: scale(1.2); */
}

.item-details {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;
}

.item-name_price {    
    color: white;
    font-weight: bold;
}

.item-name {
    font-size: 1.4em;
    padding-bottom: 20px;
    
}

.item-price {
    font-size: 1.3em;
}

.select_buy {
    /* font-weight: bold;
    color: white; */
    display: flex;
    flex-direction: column;
}

.add-to-card {
    font-size: 1.8em;
    padding-bottom: 5px;
    color: white;
    text-align: end;
}

.add-to-card:hover {
    color: #cac9c9;
}
   

.buy-now {
    font-size: 1.3em;
    font-weight: 500;
    text-decoration: none;
    color: white;
    background-color: #ff4800;
    padding: 5px;
    border-radius: 6px;
}


.buy-now:hover {    
    color: rgb(212, 212, 212);
    background-color: #ac3202;
}

.best-seller h2 {
    font-size: 3em;
    color: white;
    margin: 100px 30px 30px 30px;
    padding-bottom: 30px;
    text-align: start;
}

.viewmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 70px 0;
}

/* This is Contact Us */
.contact {
    margin-bottom: 40px;

}
.contact-us {
    font-size: 3.5em;
    margin: 100px 0 50px 0;
    color: white;
    text-align: center;
}

.map {
    margin: 0 70px;
    text-align: center;
}

.contact-mini {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
    justify-content: center;
    align-items: center;
}

.contact-info {
    margin: 0 30px;
    padding: 0 30px;    
    /* background-color: rgba(248, 248, 248, 0.1) */   
    padding-left: 70px;
}

.contact-info p {
    font-size: 1.3em;
    color: white;
    padding: 10px;
   
}   

.contact-info a {
    text-decoration: none;
    /* font-size: 1.3em; */
    color: white;
}

.contact-form {
    margin: 0 40px;
    padding: 0 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label{
   display: block;
   font-weight: bold;
   padding-bottom: 5px;
   font-size: 1.3em;
   color: white;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #161616;
    color: white;
    font-size: 1.2em;
}

/* This is Footer */
.footer {    
    margin-top: 40px;
    background-color: #0f0f0f;
    padding: 30px 0;
    text-align: center;
    
}

.footer span {    
    color: white;
    font-size: 1.2em;    
}